<div>
  <adv-gridstack #advgridstack [gridOptions$]="gridOptions$">
    <div empty-content>Add items here or reload the grid</div>
  </adv-gridstack>

  <!--<app-yt-player [videoId]="'7I0tBlfcg10'"></app-yt-player>-->

  <div [ngClass]="{ fullscreen: isFullscreen }">
    <div id="menu-overlay" [style.display]="isFullscreen ? 'block' : 'none'" class="draggable">
      <button id="menu-button" (click)="setFullscreen(false)">Menü</button>
    </div>
    <ul id="context-menu" style="display: none; position: absolute; z-index: 10000">
      <li id="detach-widget">Widget abreißen</li>
    </ul>
  </div>
  @if (!isFullscreen) {
    <button class="btn btn-primary" (click)="setFullscreen(true)">Fullscreen</button>
    <button *ngIf="isAuthenticated" class="btn btn-primary" (click)="startTextAnnotation()">Textannotation</button>
    <button *ngIf="isAuthenticated" class="btn btn-primary" (click)="startVideoAnnotation()">Videoannotation</button>
    <button *ngIf="isAuthenticated" class="btn btn-primary" (click)="showAnnotationUrl()">URL erzeugen</button>
  }

  <div class="annotation-input-container" [style.display]="showTextAnnotationDialog ? 'block' : 'none'">
    <input
      type="text"
      class="annotation-input"
      placeholder="Neuer Textkommentar"
      [(ngModel)]="newTextAnnotationText"
      (keyup.enter)="saveTextAnnotation()"
    />
    <button id="save-subtitle" (click)="saveTextAnnotation()">Speichern</button>
  </div>
</div>
