<div>
  <h1>Player</h1>

  <adv-gridstack #advgridstack [gridOptions$]="gridOptions$">
    <div empty-content>Add items here or reload the grid</div>
  </adv-gridstack>

  <!--<app-yt-player [videoId]="'7I0tBlfcg10'"></app-yt-player>-->

  <div *ngIf="annotation" [ngClass]="{ fullscreen: isFullscreen }">
    <div id="video-container">
      <div id="youtube-player"></div>
      <div id="text-annotations" class="draggable resizable"></div>
      <div id="video-overlay" class="draggable resizable" [style.display]="actVideoAnnotation ? 'flex' : 'none'">
        <div id="annotation-youtube-player"></div>
      </div>
    </div>
    <div id="menu-overlay" [style.display]="isFullscreen ? 'block' : 'none'" class="draggable">
      <button id="menu-button" (click)="setFullscreen(false)">Menü</button>
    </div>
    <ul id="context-menu" style="display: none; position: absolute; z-index: 10000">
      <li id="detach-widget">Widget abreißen</li>
    </ul>
  </div>
  @if (!isFullscreen) {
    <button class="btn btn-primary" (click)="setFullscreen(true)">Fullscreen</button>
  }
</div>
