<div [ngClass]="{ fullscreen: isFullscreen }">
  <div id="video-container">
    <div id="youtube-player"></div>
    <div id="text-annotations" class="draggable resizable"></div>
    <div id="video-overlay" class="draggable resizable" [style.display]="actVideoAnnotation ? 'flex' : 'none'">
      <div id="annotation-youtube-player"></div>
    </div>
  </div>
  <div id="menu-overlay" [style.display]="isFullscreen ? 'block' : 'none'" class="draggable">
    <button id="menu-button" (click)="setFullscreen(false)">Menü</button>
  </div>

  <div class="annotation-input-container" [style.display]="showTextAnnotationDialog ? 'block' : 'none'">
    <input
      type="text"
      class="annotation-input"
      placeholder="Neuer Textkommentar"
      [(ngModel)]="newTextAnnotationText"
      (keyup.enter)="saveTextAnnotation()"
    />
    <button id="save-subtitle" (click)="saveTextAnnotation()">Speichern</button>
  </div>

  <div *ngIf="qrCodeData">
    <p>{{ qrCodeData.url }}</p>
    <img *ngIf="qrCodeData.qrCode" [src]="'data:image/png;base64,' + qrCodeData.qrCode" alt="QR Code" />
  </div>

  <div class="annotation-input-container" [style.display]="showVideoAnnotationDialog ? 'block' : 'none'">
    <label class="username-label" for="annotation-url">URL oder Id</label>
    <input
      id="annotation-url"
      type="text"
      class="annotation-input"
      placeholder="Eine Url oder eine Video-Id"
      [(ngModel)]="newVideoAnnotationUrl"
      (keyup.enter)="saveVideoAnnotation()"
    />
    <label class="username-label" for="annotation-start-sec">Start Sec</label>
    <input
      id="annotation-start-sec"
      type="text"
      class="annotation.input"
      placeholder="startSec"
      [(ngModel)]="newVideoAnnotationStartSec"
      (keyup.enter)="saveVideoAnnotation()"
    />
    <label class="username-label" for="annotation-stop-sec">Stop Sec</label>
    <input
      id="annotation-stop-sec"
      type="text"
      class="annotation.input"
      placeholder="stopSec"
      [(ngModel)]="newVideoAnnotationStopSec"
      (keyup.enter)="saveVideoAnnotation()"
    />
    <button id="saveVideoAnnotation" (click)="saveVideoAnnotation()">Speichern</button>
  </div>
</div>
@if (!isFullscreen) {
  <button class="btn btn-primary" (click)="setFullscreen(true)">Fullscreen</button>
  <button class="btn btn-primary" (click)="startTextAnnotation()">Textannotation</button>
  <button class="btn btn-primary" (click)="startVideoAnnotation()">Videoannotation</button>
  <button class="btn btn-primary" (click)="showAnnotationUrl()">URL erzeugen</button>
}
