body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#custom-subtitles {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 16px;
  z-index: 10;
}

#video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fullscreen #video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: black;
}

.fullscreen iframe {
  width: 100%;
  height: 100%;
}

.fullscreen #draggable-overlay {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10000;
}

iframe {
  width: 100%;
  height: 100%;
}

#subtitle-input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
  z-index: 30;
}

#subtitle-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#save-subtitle {
  padding: 10px 20px;
  font-size: 16px;
}

#draggable-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: move;
  overflow: hidden;
}

#menu-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  width: 100%;
}
